.text-wrapper {
  text-align: center;
  text-justify: distr;
  width: 80%;
  margin: auto;
}

.resumeLink {
  font-size: medium;
  text-decoration: none;
  font-weight: bold;
}

.about-highlight {
  background: linear-gradient(to top, lightblue 50%, transparent 50%);
}
.mission-highlight {
  background: linear-gradient(to top, lightyellow 50%, transparent 50%);
}

.mission {
  width: 60%;
  text-align: justify;
}
