.projects {
  list-style-type: none;
  margin: 0;
}

.project {
  margin: 1rem 0;

  a {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background: #ebebeb;
    color: #000000;
    padding: 1rem;
    text-decoration: none;
    max-height: 50vh;
    overflow: hidden;
  }

  details {
    flex: 45%;
  }

  .fadeout {
    height: 100%;
    position: relative;
    bottom: 4em;
    background: -webkit-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      #ebebeb 100%
    );
    background-image: -moz-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      #ebebeb 100%
    );
    background-image: -o-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      #ebebeb 100%
    );
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #ebebeb 100%);
    background-image: -ms-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      #ebebeb 100%
    );
  }

  @media screen and (max-width: 600px) {
    a {
      display: flex;
      flex-wrap: wrap;
      border-radius: 15px;
      background: #ebebeb;
      color: #000000;
      padding: 1rem;
      text-decoration: none;
      max-height: 50vh;
      overflow: hidden;
    }
    .container {
      flex: 100%;
      max-width: 100%;
    }

    p {
      font-size: 0.8rem;
      color: #777777;
    }
  }

  .container {
    flex: 45%;
    vertical-align: middle;
  }

  .vimeoWrapper {
    vertical-align: middle;
    padding: 56.25% 0 0 0;
    position: relative;
  }

  h2 {
    font-size: large;
  }

  h3 {
    color: #777777;
    font-size: 0.8rem;
    font-style: italic;
  }

  p {
    font-size: 0.8rem;
    color: #777777;
  }
}
