.container {
  width: 100%;
}

.header {
  width: 100%;
}

.title {
  font-size: 7vw;
  font-family: "Permanent Marker", sans-serif;
  position: absolute;
  left: 50%;
  top: 2.75rem;
  transform: translate(-50%, 0%);
  color: rgb(255, 51, 51);
}
