.wrapper {
  background: rgba(15, 18, 24, 0.6);
  backdrop-filter: blur(40px);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header {
  padding: 15px;
  width: 100%;
  height: 75px;
  top: 0;
  font-size: medium;
  color: #f4f4f4;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content {
  display: flex;
  align-items: space-between;
  justify-content: center;
}

.title {
  font-family: "Permanent Marker", sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: #f4f4f4;
}

.burger {
  display: flex;
  align-items: center;
}

.menuContainer {
  z-index: 5;
  width: 100%;
  color: #f4f4f4;
}

.separator {
  border: 0;
  height: 0px;
  border-bottom: 1px solid #f4f4f4;
  margin: auto;
  width: 0;
  animation: separator-width 0.5s ease-out forwards;
}
@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
