.header {
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: -1;
  font-size: medium;
  height: 100px;
  background: #212121;
  color: #f4f4f4;
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.burger {
  margin-top: 15px;
}

.content {
  position: relative;
  margin: auto;
}

.title {
  font-family: "Permanent Marker", sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: #f4f4f4;
}
