body {
  z-index: 0;
  background-color: #0f1218;
  color: #0f1218;
}

.background {
  background-position: bottom center;
  background-repeat: repeat-y;
  background-size: cover;
  width: 100%;
  margin-bottom: 150px;
}

.container {
  top: 75px;
  z-index: 0;
  margin: 0 auto;
  max-width: 900px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding: 1rem;
  flex-grow: 1;
  border-radius: 10px;
  background-color: #ffffff;
}

.content h1 {
  font-size: xx-large;
}

hr {
  border: 0;
  height: 0px;
  border-bottom: 2px solid black;
  margin: auto;
  width: 0;
  animation: separator-width 0.5s ease-out forwards;
}
@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
