body {
  background-color: #212121;
}

.background {
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 150px;
}

.vimeoWrapper {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 56.25% 0 0 0;
  position: relative;
}

.iframe {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  z-index: 1;
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  border-radius: 25px;
}
